.qanda-container {
    display: flex;
    width: 75%;
    height: auto;
    overflow-y: auto;
}

.hidden {
    display: none;
}

.admin-dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }


.answers-list {
    padding: 1px;
    margin: 1px;
    font-size: 14px;
}

.add {
    align-self: center;
}

span {
    cursor: pointer;
}

.row-formatting {
    padding: 5px;
    margin: 20px;
}

tbody {
    padding: 5px;
    margin: 20px;
}

